body {
    font-family: Arial, sans-serif;
  }

.container {
  text-align: center;
  margin-top: 100px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #536e53;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  width: 500px;
  height: 180px;
}

p {
  font-size: 20px;
}

a {
  font-size: 16px;
}

@media (max-width: 768px) {
  body {
    margin: 0;
  }
}